li{
    padding:10px 15px;
    font-size: 20px;
    margin-left: 5px;
    list-style-type: none;
}
li:hover{
    background-color: #FF9900;
    border-radius: 4px;
}
a{
  color:#fff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color:#fff;
    font-family: Pacifico;
    text-decoration: none;
}

ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}



.logo{
    font-family: sans-serif;
    font-weight: bold;
}


h1 {
    padding: 30px;
}
    
footer {
    background-image: url(../pictures/wall.jpg);
min-height: 400px;
    min-width: 400px;
}


