:root {
	box-sizing: border-box;
}

*,
 ::before,
 ::after {
	box-sizing: inherit;
}

body {
/*
	background: rgb(191, 191, 191);
	background: -moz-linear-gradient(90deg, rgba(191, 191, 191, 0.7861519607843137) 30%, rgba(255, 255, 255, 1) 50%, rgba(149, 147, 147, 0.7861519607843137) 67%);
	background: -webkit-linear-gradient(90deg, rgba(191, 191, 191, 0.7861519607843137) 30%, rgba(255, 255, 255, 1) 50%, rgba(149, 147, 147, 0.7861519607843137) 67%);
	background: linear-gradient(90deg, rgba(191, 191, 191, 0.7861519607843137) 30%, rgba(255, 255, 255, 1) 50%, rgba(149, 147, 147, 0.7861519607843137) 67%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfbfbf", endColorstr="#959393", GradientType=1);
*/
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
}


/*------------------------header---------------------------*/

.main-navigation__inner {
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	justify-content: space-between;
	font-family: monospace;
	text-decoration: none;
	position: fixed;
	width: 100%;
	top: 0;
	overflow: hidden;
    align-items: center;
    
}


/*---------------------------logo---------------------------------*/

.logo__link {
	text-transform: uppercase;
	font-size: 2.8em;
	text-decoration: none;
	color: white;
	letter-spacing: 10px;
	padding: 10px;
	transition: .9s;
    
}

.logo__link:hover {
	transition: .2s;
	text-shadow: 2px 2px 2px blue,2px 2px 2px white, 2px 2px 2px blue ;
    
}


/*-------------------------------------menu--------------------------*/

.menu__list {
	display: flex;
    font-style: bold''
}



.menu__item {
	list-style-type: none;
    padding-right: 20px;
}



.menu__link {
    display:inline-block;
	color: white;
	text-decoration: none;
	border-bottom: 4 solid white;
    padding:10px 20px;
    font-size: 16px;
    margin-left: 15px;
    text-transform: uppercase;
	transition: .3s;
	border: 2px solid rgba(0, 40, 208, 0.8);
    font-weight: bolder;
    
}
.menu__link:visited {
    color: white;
}

.menu__link:hover {
	background-color: rgba(0, 0, 0, 1);
	transform: scale(1);
	transition: .3s;
	box-shadow: 2px 2px 2px rgba(0, 255, 2, 1);
	border-color: black;
    text-decoration: underline;

}

.menu__link:active {
	transform: scale(.9);
	transition: 1ms;
	box-shadow: -2px -2px 0px rgba(0, 255, 2, 1);

}

/*------------------------------------main-content--------------------------------*/

.main__inner {
    
}

.content-container__inner {
	text-align: center;
	overflow: hidden;
	padding: 200px;
	border-bottom: 1px solid white;
	padding-bottom: 300px;
    margin: 0 auto;
        width: 1170px;

}

.title__text {
    display: inline-block;
	font-size: 4em;
	font-family: monospace;
    color: white;
    text-shadow: inset 4px 4px 4px 4px blue;
/*    padding-bottom: 300px;*/
    text-align: left;
}

.subtitle__text {
    display: inline-block;
	font-size: 2em;
	font-family: monospace;
	display: inline-block;
	text-align: center;
	width: 700px;
    color: white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
/*    padding-bottom: 200px;*/
}

.home {
    background: url(../img/home-photo.jpg) center;
    background-size: cover;
}

/*--------------------------------------footer------------------------------------------*/

.footer-container__inner {
	
	background-color: rgba(0, 0, 0, 1);
	text-align: center;
    font-style: italic;
    color: white;
    font-size: 1.1em;
    padding: 10px;
	
}

.footer-contents__phone {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.footer-contents__phone:hover {
    color:rgba(0, 255, 2, 1)
}

.footer-contents__mail {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.footer-contents__mail:hover {
    color:rgba(0, 255, 2, 1)

}



/*-------------------------------------@media------------------------------*/

/*
@media screen and (max-wdith: 1199px) {
   .main-header {
        width: 960px;
    }
    .main-navigation {
        width:100%;
    }
}

@media screen and (max-width:991px) {
    
}
*/










